name: Unzip, Build and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Extract Zip
        run: |
          ZIP_FILE=$(ls *.zip | head -n 1)
          if [ -f "$ZIP_FILE" ]; then
            unzip -o "$ZIP_FILE" -d .
            rm "$ZIP_FILE"
          fi

      - name: Install and Build
        run: |
          # .gitignore থেকে dist বাদ দেওয়া যেন গিট এটি রিড করতে পারে
          sed -i '/dist/d' .gitignore || true
          npm install
          npm run build
          # Jekyll বন্ধ করার জন্য dist এর ভেতর .nojekyll ফাইল তৈরি
          touch dist/.nojekyll

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist # আপনার বিল্ড করা dist ফোল্ডারটি পাবলিশ হবে
          publish_branch: gh-pages # এই নামে নতুন ব্রাঞ্চ তৈরি হবে
